h1 {
  text-align: center;
}

li {
  list-style: none;
  line-height: 40px;
}

a {
  
  font-size: 24px;
  color: firebrick;
}

ul, .logo {
  border-radius: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.cards {
  display: inline-flex;
  width: auto;
}

.cards > p{
background-color: lightgrey;
margin: 20px;
padding: 50px;

}